.header{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    top: 5%;
}
.header__links{
    display: flex;
    font-size: calc(14px + .6vw);
    gap: 20%;
}
.header__links__link{
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all ease-in-out .2s;
}
.header__links__link:hover{
    color: black;
}
.header__user{
    position: absolute;
    left: 93%;
    display: flex;
    font-size: calc(14px + .6vw);
    gap: 20%;
}
.header__user__logout{
    border: none;
    background: none;
    color: white;
}
.header__user__logout{
    cursor: pointer;
    font-size: larger;
}