.music{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 10%;
    align-items: center;
    flex-direction: column;
    color: white;
}
.music__title{
    margin-bottom: 5%;
}
.music__container{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
    width: 100vw;
}
.music__container__player{
    display: flex;
    gap: 5%;
}